In [2]:
from defillama2 import DefiLlama
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = '{:,.4f}'.format

## Create a DefiLlama instance

In [3]:
obj = DefiLlama()

Say we're interested in getting the prices of the following tokens from the corresponding chains/sources

In [4]:
dd = {'0xdF574c24545E5FfEcb9a659c229253D4111d87e1':'ethereum',
      'ethereum':'coingecko',
      '0x762539b45a1dcce3d36d080f74d1aed37844b878':'bsc',
      '0xdB25f211AB05b1c97D595516F45794528a807ad8':'ethereum',
      '0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a':'arbitrum',  # GMX on arbitrum
      '0x62edc0692BD897D2295872a9FFCac5425011c661':'avax',      # GMX on avalanche
      '0x4277f8f2c384827b5273592ff7cebd9f2c1ac258':'arbitrum',  # GLP on arbitrum
      '0x01234181085565ed162a948b6a5e88758CD7c7b8':'avax',      # GLP on avalanche
      }

## Get current prices

In [5]:
obj.get_tokens_curr_prices(dd)

,symbol,price,confidence,chain,token_address,decimals
timestamp,,,,,,
2022-11-14 05:32:58,ETH,"1,189.1600",0.9900,coingecko,ethereum,NaN
2022-11-14 05:00:27,GLP,0.8252,1.0000,arbitrum,0x4277f8f2c384827b5273592ff7cebd9f2c1ac258,18.0000
2022-11-14 05:00:26,GLP,0.6712,1.0000,avax,0x01234181085565ed162a948b6a5e88758CD7c7b8,18.0000
2022-11-14 05:32:58,LINA,0.0060,0.9900,bsc,0x762539b45a1dcce3d36d080f74d1aed37844b878,18.0000
2022-11-14 05:32:53,EURS,1.0400,0.9900,ethereum,0xdB25f211AB05b1c97D595516F45794528a807ad8,2.0000
2022-11-14 05:32:56,GMX,39.4800,0.9900,arbitrum,0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a,18.0000
2022-11-14 05:32:56,GMX,39.4800,0.9900,avax,0x62edc0692BD897D2295872a9FFCac5425011c661,18.0000
2022-11-14 05:32:58,HUSD,0.1514,0.9900,ethereum,0xdF574c24545E5FfEcb9a659c229253D4111d87e1,8.0000

## Get snapshot historical prices

In [6]:
obj.get_tokens_hist_snapshot_prices(dd, '2022-09-15 13:25:43')

,symbol,price,chain,token_address,decimals
timestamp,,,,,
2022-09-15 13:00:25,GLP,0.9223,arbitrum,0x4277f8f2c384827b5273592ff7cebd9f2c1ac258,18.0000
2022-09-15 13:25:07,GMX,46.6015,arbitrum,0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a,18.0000
2022-09-15 13:23:50,HUSD,0.9943,ethereum,0xdF574c24545E5FfEcb9a659c229253D4111d87e1,8.0000
2022-09-15 13:25:07,GMX,46.6015,avax,0x62edc0692BD897D2295872a9FFCac5425011c661,18.0000
2022-09-15 13:23:24,LINA,0.0079,bsc,0x762539b45a1dcce3d36d080f74d1aed37844b878,18.0000
2022-09-15 13:23:16,EURS,0.9900,ethereum,0xdB25f211AB05b1c97D595516F45794528a807ad8,2.0000
2022-09-15 13:00:25,GLP,0.7712,avax,0x01234181085565ed162a948b6a5e88758CD7c7b8,18.0000
2022-09-15 13:26:40,ETH,"1,586.8219",coingecko,ethereum,NaN

In [7]:
obj.get_tokens_hist_snapshot_prices(dd, '2020-09-15 13:25:43')

,symbol,price,chain,token_address,decimals
timestamp,,,,,
2020-09-15 13:03:12,HUSD,1.0012,ethereum,0xdF574c24545E5FfEcb9a659c229253D4111d87e1,8.0000
2020-09-15 13:06:08,ETH,377.5982,coingecko,ethereum,NaN
2020-09-15 13:13:07,EURS,1.1774,ethereum,0xdB25f211AB05b1c97D595516F45794528a807ad8,2.0000

## Get daily close prices ('23:59:59')

DeFiLlama currently doesn't offer an API for bulk downloading historical prices. So I wrote a method to call its snapshot price API iteratively to get historical daily open (00:00:00) or close (23:59:59) prices. It's not fast so use judiciously.

In [8]:
df = obj.get_daily_open_close(dd, start='2022-08-01', end='2022-09-01', kind='close')
df.head()

                  ETH   EURS     GMX   HUSD   LINA
date
2022-08-01 1,633.5772 1.0273 39.6315 1.0005 0.0105
2022-08-02 1,638.3787 1.0167 39.6755 1.0015 0.0111
2022-08-03 1,621.5726 1.0155 40.9458 1.0006 0.0109
2022-08-04 1,611.3419 1.0245 39.8228 1.0011 0.0107
2022-08-05 1,730.3080 1.0185 44.1840 0.9993 0.0113

In [9]:
# calculate daily returns
simple_rets = df.pct_change()
simple_rets.head()

               ETH    EURS     GMX    HUSD    LINA
date
2022-08-01     NaN     NaN     NaN     NaN     NaN
2022-08-02  0.0029 -0.0104  0.0011  0.0010  0.0550
2022-08-03 -0.0103 -0.0012  0.0320 -0.0008 -0.0228
2022-08-04 -0.0063  0.0089 -0.0274  0.0004 -0.0149
2022-08-05  0.0738 -0.0059  0.1095 -0.0017  0.0597

In [10]:
# calculate the log returns
log_rets = np.log(simple_rets + 1)
log_rets.head()

               ETH    EURS     GMX    HUSD    LINA
date
2022-08-01     NaN     NaN     NaN     NaN     NaN
2022-08-02  0.0029 -0.0104  0.0011  0.0010  0.0535
2022-08-03 -0.0103 -0.0012  0.0315 -0.0008 -0.0231
2022-08-04 -0.0063  0.0088 -0.0278  0.0004 -0.0150
2022-08-05  0.0712 -0.0059  0.1039 -0.0017  0.0580

In [11]:
# calculate cumulative returns using the simple returns
cumu_rets_way1 = (1 + simple_rets).cumprod() - 1
cumu_rets_way1.head()

               ETH    EURS    GMX    HUSD   LINA
date
2022-08-01     NaN     NaN    NaN     NaN    NaN
2022-08-02  0.0029 -0.0104 0.0011  0.0010 0.0550
2022-08-03 -0.0073 -0.0115 0.0332  0.0001 0.0309
2022-08-04 -0.0136 -0.0027 0.0048  0.0006 0.0155
2022-08-05  0.0592 -0.0086 0.1149 -0.0012 0.0761

In [12]:
# calculate cumulative returns using the log returns
cumu_rets_way2 = np.exp(log_rets.cumsum()) - 1
cumu_rets_way2.head()

               ETH    EURS    GMX    HUSD   LINA
date
2022-08-01     NaN     NaN    NaN     NaN    NaN
2022-08-02  0.0029 -0.0104 0.0011  0.0010 0.0550
2022-08-03 -0.0073 -0.0115 0.0332  0.0001 0.0309
2022-08-04 -0.0136 -0.0027 0.0048  0.0006 0.0155
2022-08-05  0.0592 -0.0086 0.1149 -0.0012 0.0761

In [13]:
# check both methods give the same results
(cumu_rets_way1 - cumu_rets_way2).sum()

ETH    -0.0000
EURS    0.0000
GMX     0.0000
HUSD    0.0000
LINA    0.0000
dtype: float64

## Get daily open prices ('00:00:00')

In [14]:
df = obj.get_daily_open_close(dd, start='2022-08-01', end='2022-09-01', kind='open')
df.tail()

                  ETH   EURS     GMX   HUSD   LINA
date
2022-08-28 1,493.4702 0.9923 38.8069 0.9920    NaN
2022-08-29 1,435.7536 0.9923 39.8085 0.9999 0.0079
2022-08-30 1,555.2888 0.9987 44.8551 0.9951 0.0079
2022-08-31        NaN 0.9974 44.1691    NaN    NaN
2022-09-01 1,556.5235 0.9989 50.3426 0.9878 0.0080

## Get hourly data

Be careful, it takes ~11 minutes to download even 1 month of data.

In [16]:
df = obj.get_tokens_hist_prices(dd, start='2022-11-12', end='2022-11-14', freq='hour')
df.tail()

                           ETH   EURS    GLP     GMX   HUSD   LINA
datetime
2022-11-13 20:00:00 1,229.2674 1.0309 0.7657 45.5615 0.1597 0.0062
2022-11-13 21:00:00 1,223.1987 1.0306 0.7623 44.3225 0.1612 0.0062
2022-11-13 22:00:00 1,219.3326 1.0254 0.7609 44.3524 0.1579 0.0061
2022-11-13 23:00:00 1,227.6131 1.0270 0.7640 43.8350 0.1582 0.0062
2022-11-14 00:00:00 1,221.4864 1.0276 0.7618 38.5188 0.1586 0.0062

## Get daily open, high, low, close, median, mean, std of the prices
Once again, can be slow if you try to download for 2+ weeks because it downloads 
24 times for each day and derive the daily numbers from the hourly data. If you 
just need daily open or close, use `get_daily_open_close()` since it's much faster.

In [17]:
df = obj.get_tokens_hist_prices(dd, start='2022-11-12', end='2022-11-14', freq='daily')
df.tail()

                 open                                            low  ...  \
                  ETH   EURS    GLP     GMX   HUSD   LINA        ETH  ...
datetime                                                              ...
2022-11-12 1,292.9893 0.9929 0.7865 34.9911 0.1805 0.0063 1,245.1100  ...
2022-11-13 1,255.7600 1.0144 0.7743 36.9490 0.1604 0.0059 1,219.3326  ...
2022-11-14 1,221.4864 1.0276 0.7618 38.5188 0.1586 0.0062 1,221.4864  ...

             mean     std
             LINA     ETH   EURS    GLP    GMX   HUSD   LINA
datetime
2022-11-12 0.0061  8.9221 0.0109 0.0033 1.1794 0.0074 0.0001
2022-11-13 0.0060 16.4572 0.0072 0.0056 2.6507 0.0049 0.0001
2022-11-14 0.0062     NaN    NaN    NaN    NaN    NaN    NaN

[3 rows x 42 columns]

## Get the closest block to a timestamp

In [18]:
obj.get_closest_block('ethereum', '2020-09-24 13:25:43')
# height: number of blocks before the returned block
# timestamp: timestamp of the returned block since the epoch

     height           timestamp
0  10925597 2020-09-24 13:25:53