In [3]:
from defillama2 import DefiLlama
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = '{:,.4f}'.format

## Create a DefiLlama instance

In [4]:
obj = DefiLlama()

Say we're interested in getting the prices of the following tokens from the corresponding chains/sources

In [5]:
dd = {'0xdF574c24545E5FfEcb9a659c229253D4111d87e1':'ethereum',
      'ethereum':'coingecko',
      '0x762539b45a1dcce3d36d080f74d1aed37844b878':'bsc',
      '0xdB25f211AB05b1c97D595516F45794528a807ad8':'ethereum',
      '0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a':'arbitrum',  # GMX on arbitrum
      '0x62edc0692BD897D2295872a9FFCac5425011c661':'avax',      # GMX on avalanche
      '0x4277f8f2c384827b5273592ff7cebd9f2c1ac258':'arbitrum',  # GLP on arbitrum
      '0x01234181085565ed162a948b6a5e88758CD7c7b8':'avax',      # GLP on avalanche
      }

## Get current prices

In [6]:
obj.get_tokens_curr_prices(dd)

,symbol,price,confidence,chain,token_address,decimals
timestamp,,,,,,
2022-11-14 01:07:58,ETH,"1,209.4200",0.9900,coingecko,ethereum,NaN
2022-11-14 01:00:25,GLP,0.8334,1.0000,arbitrum,0x4277f8f2c384827b5273592ff7cebd9f2c1ac258,18.0000
2022-11-14 01:00:24,GLP,0.6797,1.0000,avax,0x01234181085565ed162a948b6a5e88758CD7c7b8,18.0000
2022-11-14 01:07:59,LINA,0.0062,0.9900,bsc,0x762539b45a1dcce3d36d080f74d1aed37844b878,18.0000
2022-11-14 01:07:54,EURS,1.0330,0.9900,ethereum,0xdB25f211AB05b1c97D595516F45794528a807ad8,2.0000
2022-11-14 01:07:56,GMX,39.2100,0.9900,arbitrum,0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a,18.0000
2022-11-14 01:07:56,GMX,39.2100,0.9900,avax,0x62edc0692BD897D2295872a9FFCac5425011c661,18.0000
2022-11-14 01:07:59,HUSD,0.1578,0.9900,ethereum,0xdF574c24545E5FfEcb9a659c229253D4111d87e1,8.0000

## Get snapshot historical prices

In [7]:
obj.get_tokens_hist_snapshot_prices(dd, '2022-09-15 13:25:43')

,symbol,price,chain,token_address,decimals
timestamp,,,,,
2022-09-15 13:26:40,ETH,"1,586.8219",coingecko,ethereum,NaN
2022-09-15 13:25:07,GMX,46.6015,arbitrum,0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a,18.0000
2022-09-15 13:23:16,EURS,0.9900,ethereum,0xdB25f211AB05b1c97D595516F45794528a807ad8,2.0000
2022-09-15 13:00:25,GLP,0.9223,arbitrum,0x4277f8f2c384827b5273592ff7cebd9f2c1ac258,18.0000
2022-09-15 13:23:50,HUSD,0.9943,ethereum,0xdF574c24545E5FfEcb9a659c229253D4111d87e1,8.0000
2022-09-15 13:25:07,GMX,46.6015,avax,0x62edc0692BD897D2295872a9FFCac5425011c661,18.0000
2022-09-15 13:23:24,LINA,0.0079,bsc,0x762539b45a1dcce3d36d080f74d1aed37844b878,18.0000
2022-09-15 13:00:25,GLP,0.7712,avax,0x01234181085565ed162a948b6a5e88758CD7c7b8,18.0000

In [8]:
obj.get_tokens_hist_snapshot_prices(dd, '2020-09-15 13:25:43')

,symbol,price,chain,token_address,decimals
timestamp,,,,,
2020-09-15 13:03:12,HUSD,1.0012,ethereum,0xdF574c24545E5FfEcb9a659c229253D4111d87e1,8.0000
2020-09-15 13:13:07,EURS,1.1774,ethereum,0xdB25f211AB05b1c97D595516F45794528a807ad8,2.0000
2020-09-15 13:06:08,ETH,377.5982,coingecko,ethereum,NaN

## Get daily closes ('23:59:59')

DeFiLlama currently doesn't offer an API for bulk downloading historical prices. So I wrote a method to call its snapshot price API iteratively to get historical daily open (00:00:00) or close (23:59:59) prices. It is slow so use judiciously.

In [9]:
df = obj.get_tokens_hist_prices(dd, start='2022-08-01', end='2022-09-01', kind='close')
df.head()

                  ETH   EURS     GMX   HUSD   LINA
date
2022-08-01 1,633.5772 1.0273 39.6315 1.0005 0.0105
2022-08-02 1,638.3787 1.0167 39.6755 1.0015 0.0111
2022-08-03 1,621.5726 1.0155 40.9458 1.0006 0.0109
2022-08-04 1,611.3419 1.0245 39.8228 1.0011 0.0107
2022-08-05 1,730.3080 1.0185 44.1840 0.9993 0.0113

In [10]:
# calculate daily returns
simple_rets = df.pct_change()
simple_rets.head()

               ETH    EURS     GMX    HUSD    LINA
date
2022-08-01     NaN     NaN     NaN     NaN     NaN
2022-08-02  0.0029 -0.0104  0.0011  0.0010  0.0550
2022-08-03 -0.0103 -0.0012  0.0320 -0.0008 -0.0228
2022-08-04 -0.0063  0.0089 -0.0274  0.0004 -0.0149
2022-08-05  0.0738 -0.0059  0.1095 -0.0017  0.0597

In [11]:
# calculate the log returns
log_rets = np.log(simple_rets + 1)
log_rets.head()

               ETH    EURS     GMX    HUSD    LINA
date
2022-08-01     NaN     NaN     NaN     NaN     NaN
2022-08-02  0.0029 -0.0104  0.0011  0.0010  0.0535
2022-08-03 -0.0103 -0.0012  0.0315 -0.0008 -0.0231
2022-08-04 -0.0063  0.0088 -0.0278  0.0004 -0.0150
2022-08-05  0.0712 -0.0059  0.1039 -0.0017  0.0580

In [12]:
# calculate cumulative returns using the simple returns
cumu_rets_way1 = (1 + simple_rets).cumprod() - 1
cumu_rets_way1.head()

               ETH    EURS    GMX    HUSD   LINA
date
2022-08-01     NaN     NaN    NaN     NaN    NaN
2022-08-02  0.0029 -0.0104 0.0011  0.0010 0.0550
2022-08-03 -0.0073 -0.0115 0.0332  0.0001 0.0309
2022-08-04 -0.0136 -0.0027 0.0048  0.0006 0.0155
2022-08-05  0.0592 -0.0086 0.1149 -0.0012 0.0761

In [13]:
# calculate cumulative returns using the log returns
cumu_rets_way2 = np.exp(log_rets.cumsum()) - 1
cumu_rets_way2.head()

               ETH    EURS    GMX    HUSD   LINA
date
2022-08-01     NaN     NaN    NaN     NaN    NaN
2022-08-02  0.0029 -0.0104 0.0011  0.0010 0.0550
2022-08-03 -0.0073 -0.0115 0.0332  0.0001 0.0309
2022-08-04 -0.0136 -0.0027 0.0048  0.0006 0.0155
2022-08-05  0.0592 -0.0086 0.1149 -0.0012 0.0761

In [14]:
# check both methods give the same results
(cumu_rets_way1 - cumu_rets_way2).sum()

ETH    -0.0000
EURS    0.0000
GMX     0.0000
HUSD    0.0000
LINA    0.0000
dtype: float64

## Get the closest block to a timestamp

In [15]:
obj.get_closest_block('ethereum', '2020-09-24 13:25:43')
# height: number of blocks before the returned block
# timestamp: timestamp of the returned block since the epoch

     height           timestamp
0  10925597 2020-09-24 13:25:53